@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.footer-font {
    font-size: 13px;
}

.footer-margin {
    height: 48px;
}

span .text-warning:hover {
    color: #007bff!important;
}

.yellow {
    color: #ffc107
}